*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb
config/initializers/r.rb

public/static_files/*
public/uploads/*
public/file_part_upload/*
public/assets/

*~
\#*
.\#*
.DS_*
._*

# Ignore application configuration
/config/application.yml
.floo
.flooignore
