.role-index-page {
  .funcs {
    @include clearfix;
    .func {
      border: solid 1px #ececec;
      color: #666;
      width: 12rem;
      height: 10rem;
      background-color: #f7f7f7;
      display: block;
      text-align: center;
      padding-top: 1rem;
      float: left;
      margin-right: 1rem;
      margin-bottom: 1rem;
      &:hover, &:active {
        background-color: #FFFAF3;
      }
      i.anticon {
        font-size: 5.5rem;
        height: 6rem;
        line-height: 6rem;
        display: block;
        margin: 0;
        padding: 0;
        width: auto;
        color: #666;
      }
      span.name {
        font-size: 16px;
        display: block;
        height: 3rem;
        line-height: 3rem;
      }
    }

    @include respond(mobile) {
      margin-right: -1px;
      .func {
        box-sizing: border-box;
        margin: 0;
        width: percentage(1/3);
        height: 9rem;
        // border-left:0 none;
        i.anticon {
          font-size: 4rem;
          height: 5rem;
          line-height: 5rem;
        }
      }
    }
  }
}