.ant-table {
  background-color: #FFF;

  td pre {
    font-family: inherit;
    border-left: solid 3px #eee;
    padding-left: 0.5rem;
    max-width: 300px;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
  }
}

.ant-input-lg {
  height: 36px;
}