body .auth-layout {
  position: absolute;
  top:0;left:0;right:0;bottom:0;

  overflow: hidden;
  background-color: #E0E0E0;
  @include cover-image('http://i.teamkn.com/i/y5uLesMC.jpg');

  .ui.segment {
    box-shadow: none !important;
    border: 0 none !important;
    padding: 2rem;
    background-color: rgba(white, 0.618);
  }

  .auth-sign-in-page {
    position: absolute;
    top:0;left:0;right:0;bottom:0;

    padding-top: 8rem;
    @include respond(mobile) {
      padding-top: 0;
    }

    .product-logo {
      @include contain-image('http://i.teamkn.com/i/xAkEcjUr.png');
      height: 3rem;
      margin-bottom: 2rem;
      @include respond(mobile) {
        height: 2.5rem;
        display: none;
      }
    }

    .customer-logo {
      @include contain-image('http://i.teamkn.com/i/QZVOaJWX.png');
      height: 15rem;
      margin-top: 5rem;
      @include respond(mobile) {
        margin-top: 2rem;
        height: 12.5rem;
      }
    }

    .head {
      font-size: 16px;
      margin-bottom: 2rem;
    }
  }
}