body.manager {
  $manager-bgc: #FAF8F7;
  $sidebar-bgc: grayscale(#293038);
  
  $item-hover-bgc: grayscale(#37424f);
  $item-icon-color: grayscale(#aeb9c2);
  
  $scene-open-bgc: grayscale(#22282e);
  $scene-close-bgc: grayscale(#37424f);
  $scene-hover-bgc: grayscale(#414d5c);

  $sidebar-font-size: 16px;

  overflow:hidden;
  position: absolute;
  top:0;left:0;right:0;bottom:0;

  $sidebar-width: 180px;
  $sidebar-item-height: 50px;
  $top-menu-height: 50px;

  .manager-sidebar {
    $item-height: $sidebar-item-height;
    z-index: 1;
    position: absolute;
    top:0;left:0;bottom:0;
    width: $sidebar-width + 20px;
    background-color: $sidebar-bgc;
    font-size: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 80px;

    .sidebar-inner {
      width: $sidebar-width;
    }

    .scene {
      &:not(.open) .si{
        background-color: $scene-close-bgc;
        border-bottom: solid 1px $scene-hover-bgc;
      }

      &.open .si{
        background-color: $scene-open-bgc;
      }

      .si {
        font-size: $sidebar-font-size;
        display:block;
        color:white;
        height:$item-height;line-height:$item-height;
        text-align: left;
        &:hover {
          cursor: pointer;
          background-color: $scene-hover-bgc !important;
        }
        i {
          height:$item-height;line-height:$item-height;
          width:50px;
          text-align: center;
          float: left;
          margin-right: -12px;
          font-size: $sidebar-font-size;
        }
      }

      .funcs {
        transition: height ease-out .3s, opacity ease-in .2s, left ease-out .3s;
        overflow: hidden;
        position: relative;
      }

      &:not(.open) .funcs{
        opacity: 0;
        left: 1rem;
      }
      &.open .funcs {
        opacity: 1;
        left: 0;
      }
    }

    .item {
      a {
        font-size: $sidebar-font-size;
        display:block;
        color:white;
        height:$item-height;line-height:$item-height;
        text-align: left;
        &:hover {
          background-color: $item-hover-bgc;
        }
        i {
          height:$item-height;line-height:$item-height;
          color: $item-icon-color;
          width:50px;
          text-align: center;
          float: left;
          margin-right: 0;
          font-size: $sidebar-font-size;
        }
      }
      &.active a {
        background-color: #0099CC;
        i {color: white;}
      }
    }
  }

  .manager-sidebar-pusher {
    position: absolute;
    top:0;right:0;bottom:0;left:$sidebar-width;
    background-color: #FDFDFD;
    z-index: 2;

    .layout-top-menu.manager {
      box-shadow: none;
      position: absolute;
      top:0;left:0;right:0;
      height: $top-menu-height;
      font-size: 16px;

      .item.avatar {
        padding-top: 4px;
        padding-bottom: 4px;
        img {
          width:32px;
          height:32px;
        }
      }

      .item.current-title{
        &:before{display:none;}
      }
    }

    .manager-page-content {
      position: absolute;
      top:$top-menu-height;left:0;bottom:0;right:0;
      background-color: $manager-bgc;
      overflow-y: auto;
      overflow-x: hidden;

      .func-content {
        padding: 1rem 2rem;
        @include respond(mobile) {
          padding: 1rem 0;
        }

        .ui.message {
          border-radius: 0 !important;
          box-shadow: none !important;
          border: solid 1px rgba(black, 0.15);
          @include respond(mobile) {
            border-left: 0 none;
            border-right: 0 none;
          }
        }

        .ui.segment {
          box-shadow: none !important;
          border:0 none !important;

          h3.header {
            font-size: 1.8rem;
            font-weight: normal;
            margin-bottom: 1rem;
          }
        }

        .ui.segment.basic.ops {
          padding: 0;
          @include respond(mobile) {
            padding-left: 1rem;
          }
        }

        .ui.segment.func-not-ready {
          background-color: #F8F8F9 !important;
        }
      }
    }
  }

  .manager-sidebar {
    transition: left ease-out .3s;
  }
  .manager-sidebar-pusher {
    .mobile-sidebar-overlay {
      position: absolute;
      top:0;left:0;right:0;bottom:0;
      pointer-events: none;
      transition: opacity ease-out .3s;
      background-color: #000;
      z-index: 999;
      opacity: 0;
    }
    transition: left ease-out .3s, right  ease-out .3s;
    a.item.mobile, div.item.mobile {
      display: none !important;
    }
    a.item.mobile.mobile-back-to {
      display: block !important;
    }
  }

  @include respond(mobile) {
    .manager-sidebar {
      left: -$sidebar-width; 
    }
    .manager-sidebar-pusher {
      left: 0;
      a.item.mobile-open {
        display: inherit !important;
      }
    }
  }

  &.mobile-open-sidebar {
    .manager-sidebar {
      left: 0;
    }
    .manager-sidebar-pusher {
      left: $sidebar-width;
      right: -$sidebar-width;
      .mobile-sidebar-overlay {
        opacity: 0.5;
        pointer-events: auto;
      }
    }
  }

  @include respond(mobile) {
    .layout-top-menu.with-mobile-back-to {
      a.item.mobile-back-to{display: inherit !important;}
      a.item.mobile-open{display: none !important;}
      a.item.sign-out{display: none !important;}
    }
  }
}

.dashboard-search {
  margin-bottom: 1rem;
  input {
    width: 600px;
    font-size: 16px;
    font-family: $mindpin-font-family;
    &::-webkit-input-placeholder{
      color: #aaa !important;
    }
  }

  @include respond(mobile) {
    .ui.input {
      display: block;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    input {
      border-radius: 0;
      width: 100%;
    }
  }
}

.roles-funcs {
  @include clearfix;
  .func {
    border: solid 1px #ececec;
    color: #666;
    width: 12rem;
    height: 10rem;
    background-color: #FFF;
    display: block;
    text-align: center;
    padding-top: 1rem;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    &:hover, &:active {
      background-color: #FFFAF3;
    }
    i.icon {
      font-size: 5.5rem;
      height: 6rem;
      line-height: 6rem;
      display: block;
      margin: 0;
      padding: 0;
      width: auto;
      color: mix(#94634a, #999, 40%);
    }
    span {
      font-size: 16px;
      display: block;
      height: 3rem;
      line-height: 3rem;
    }
  }

  @include respond(mobile) {
    margin-right: -1px;
    .func {
      box-sizing: border-box;
      margin: 0;
      width: percentage(1/3);
      height: 9rem;
      border-left:0 none;
      i.icon {
        font-size: 4rem;
        height: 5rem;
        line-height: 5rem;
      }
    }
  }
}


.manager-table {
  h4.header {
    margin-bottom: 2em;
    i {
      font-size: 16px;
      opacity: 0.5;
    }
    .content {
      // opacity: 0.8;
    }
  }

  .table-filters {
    margin-bottom: 1em;
  }

  .table {
    border-radius: 0;
    td {
      line-height: 20px;
      position: relative;

      .ui.button.mini {
        min-height: 0;
        height: 24px;
        line-height: 24px;
        padding: 0 0.7rem;
        margin-top: -2px;
        margin-bottom: -2px;
      }
    }
    tfoot {
      .ui.pagination {
        box-shadow: none;
        min-height: 0;
        float: right;
        .item {
          height: 34px;
          &:not(.number) {
            min-width: 0;
            padding-left: 0.8em;
            padding-right: 0.8em;
          }
          &.number {
            padding-top: 0;
            padding-bottom: 0;
            line-height: 34px;
            // i {height: 34px;}
          }
        }
      }
      .pagination-text-info {
        line-height: 36px;
      }
    }
  }

  thead th {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
}

.data-form {
  max-width: 600px;
  @include respond(mobile) {
    max-width: 100%;
  }

  .field {
    @include clearfix;
    display: flex;
    margin-bottom: 1.5rem !important;
    @include respond(mobile) {
      margin-bottom: 1rem !important;
    }

    label {
      box-sizing:border-box;
      display: block;
      float: left;
      text-align: right;
      padding-right: 0.5rem;
      margin-bottom: 0 !important;
      margin-top: 8px !important;
      font-weight: normal !important;
      font-size: 12px !important;

      span.required {
        color: #f50;
        font-family: simsun;
      }
    }
    .wrapper {
      box-sizing:border-box;
      display: block;
      float: left;
    }

    @include respond(mobile) {
      textarea{ resize: none !important; }
    }
  }

  .field.error {
    margin-bottom: 6px !important;
    .error-tip {
      font-size: 12px;
      line-height: 18px;
      color: #f50;
    }

    label {
      color: inherit !important;
    }
    input, textarea{
      border-color: #f50 !important;
      // background-color: rgba(#f50, 0.05) !important;
      background-color: inherit !important;
      box-shadow:0 0 0 2px #fdc !important;
      color: inherit !important;
    }
  }

  .field .image-upload {
    .browse {
      border: solid 5px #eee;
      text-align: center;
      position: relative;

      .browse-btn {
        position: absolute;
        top:0;left:0;right:0;bottom:0;
        cursor: pointer;
        &:hover {
          background-color: #ffffee;
        }

        .btn-text {
          pointer-events: none;
          position: relative;
          top: 90px;
          margin-top: -4.5rem;
          .header {
            // 3rem + 1rem
            font-size: 2rem;
            line-height: 3rem;
            color: #bbb;
            margin-bottom: 1rem;
            margin-left: -1em;
          }
          .desc {
            // 3rem
            color: #bbb;
          }
        }
      }
      .percent {
        position: absolute;
        top:0;left:0;right:0;bottom:0;
        pointer-events: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        .bar {
          position: absolute;
          top:0;right:0;bottom:0;
          background-color: rgba(white, 0.618);
          // background-color: rgba(black, 0.1);
          transition: width .1s linear;
        }
        .p {
          position: absolute;
          top: 50%;
          line-height: 50px;
          height: 50px;
          left:0;right:0;
          text-align: center;
          margin-top: -25px;
          font-size: 40px;
          font-weight: bold;
          color: white;
          text-shadow:1px 1px 3px rgba(black, 0.5);

          .ui.loader {
            font-size: 30px;
          }

          i.icon {
            font-size: 50px;
          }
        }
      }
    }
  }

  .field:last-child {
    margin-bottom: 0.5rem !important;
  }
}

.dashboard {
  .column.stat {
    .time-clock {
      font-size: 50px;
      text-align: center;
      border-bottom: solid 1px #eee;
      height: 6rem;
      line-height: 5rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      .second {
        font-size: 30px;
      }
    }
  }

  .ui.grid.queues{
    display: flex;
    .column{
      height: auto;
      display: flex;
      .segment {
        height: auto;
        flex-grow: 1;
      }
    }
  }
}

.patient-queue {
  $c: #C15D3E;
  // $c: #CC9966;

  .header {
    background-color: $c;
    color: white;
    margin: 0 -1em;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    i {opacity: 0.7};
  }
  .ui.list {
    margin-left: -1em;
    margin-right: -1em;
    .item {
      padding: 0.5rem 0rem 0.5rem 1rem !important;
      line-height: 24px;
      height: 24px;
      box-sizing: content-box;
      border-color: #F5F5F5;
      &:last-child {
        border-color: #F5F5F5;
      }

      &.patient{
        &:hover {
          background-color: rgba(#F1E9DC, 0.4);
          cursor: pointer;
        }
      }

      .icon {
        color: lighten($c, 20%);
        margin-right: 0.5rem;
      }
      .label {
        background-color: rgba(#F1E9DC, 0.4);
        color: rgba(black, 0.6);
        padding: 0 0.5rem;
        line-height: 24px;
        margin-right: 0.5rem;
        font-family: $number-font-family;
      }

      .right.content {
        line-height: 24px;
        .memo {color: #999;}
        .icon{color: #ddd;margin-left: 1rem;};
      }

    }
  }
}

.workers-status {
  $c: #C15D3E;
  // $c: #CC9966;

  .header {
    margin-bottom: 1rem;
    i {opacity: 0.7};
  }
  .ui.list {
    margin-left: -1em;
    margin-right: -1em;
    .item {
      padding: 0.5rem 0.5rem 0.5rem 1rem !important;
      line-height: 24px;
      height: 24px;
      box-sizing: content-box;
      border-color: #F5F5F5;
      &:last-child {
        border-color: #F5F5F5;
      }

      &.worker{
        &:hover {
          background-color: rgba(#F1E9DC, 0.4);
          cursor: pointer;
        }
      }

      .icon {
        color: lighten($c, 20%);
        margin-right: 0.5rem;
      }
      .label {
        background-color: rgba(#F1E9DC, 0.4);
        color: rgba(black, 0.6);
        padding: 0 0.5rem;
        line-height: 24px;
        margin-right: 0.5rem;
        font-family: $number-font-family;
      }

      .content {
        line-height: 24px;
      }

      .right.content {
        line-height: 24px;
        .icon{color: #ddd};
      }

    }
  }
}

.worker-assign {
  .list .item {
    .content{
      height: 24px;
      line-height: 24px;
    }
    &:hover {
      background-color: #F9F6F1;
      cursor: pointer;
    }
  }
}

.pe-records-page {
  .pe-recorder {
    background-color: #FFF;
    .add-item {
      padding: 1rem;
      border-top: solid 1px #ececec;
    }

    .items {
      .field {
        padding: 1rem;
        border-top: solid 1px #ececec;
        input.label {
          border: solid 1px #DEDEDE;
          width: 100%;
          height: 32px; line-height: 30px;
          padding: 0 0.5rem;
          margin-bottom: 0.5rem;
          &.readonly {
            border-color: transparent;
            margin-top: -0.5rem;
          }
        }

        div.search {
          min-height: 68px;
          margin-bottom: 1rem;
        }

        .photo-preview {
          width: 5rem; height: 5rem;
          border: solid 1px #DEDEDE;
          margin-bottom: 0.5rem;
          position: relative;
          background-size: cover;
          box-sizing: content-box;

          .bar {
            position: absolute;
            top:0;bottom:0;left:0;
            background-color: #F9FAFB;
          }
          .percent {
            font-size: 16px;
            font-weight: bold;
            position: absolute;
            pointer-events: none;
            top:0;left:0;right:0;bottom:0;
            line-height: 5rem;
            text-align: center;
            opacity: 0.6;
          }
        }
      }
    }
  }

  .page-save {
    background-color: #FFF;
    padding: 1rem;
    border-top: solid 1px #ECECEC;
  }

  .pe-recorder-show {
    .tags {
      margin-top: 1rem;
      overflow: hidden;
      margin-bottom: 0.5rem;
      .tag {
        float: left;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        border:solid 1px #D9D5CF;
        background-color: #FFFAF3;
        height: 1.5rem; line-height: 1.5rem;
        padding:0 0.3rem;
        box-sizing: content-box;
        color: #796138;
      }
      .tag.no {
        color: #999;
        background-color: #fff;
        border:solid 1px #fff;
      }
    }

    .photo-preview {
      display: block;
    }
  }
}


.pe-define-form .linked-fact {
  margin-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: dashed 1px #ddd;
}

.linked-fact {
  line-height: 1.5;

  strong {
    margin-left: 0.2rem;
  }

  .tag-names {
    margin-left: 0.5rem;
    font-size: 13px;
    color: #999;
  }
}
