.pe-define-vector-editor {
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  background-color: #FFF;

  .toolbar {
    position: absolute;
    top:0;left:0;right:0;height:50px;
    background-color: #F5F7FA;
    padding: 0 1rem;
  }

  .paper {
    position: absolute;
    top:50px;left:0;right:0;bottom:0;
    background-color: #FaFaFa;
    overflow: hidden;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    .tools {
      z-index: 1;
      position: absolute;
      top:0;left:0;
      background-color: rgba(black, 0.2);
      padding: 1rem;

      .pos-info {
        background-color: rgba(black, 0.6);
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        margin-bottom: 1rem;
      }
    }


    .toucher {
      position: absolute;
      top:0;left:0;bottom:0;right:0;
      cursor:move;

      .points-area {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        position: absolute;
        background-color: #FFF;
        img {
          pointer-events: none;
        }
      }

      &.adding {
        background-color: rgba(#2DB7F5, 0.2);
        cursor: crosshair;
        .points-area {
          cursor: crosshair;
        }
      }

      .drawer {
        position: absolute;
        top:0;left:0;right:0;bottom:0;
        background-color: rgba(#2DB7F5, 0.1);
        // pointer-events: none;
      }
    }

  }
}