.wizard-patients-list {
  max-width: 600px;
  background-color: #FFF;
  margin-bottom: 1rem;
  .item {
    padding: 0;
    border-bottom: solid 1px #ececec;
    display: block;
    color: #333;
    font-size: 16px;
    overflow: hidden;
    padding: 0 0.5rem;

    i.icon.user {
      color: darken(#94634a, 10%);
      font-size: 2rem;
      float: left;
      height: 4rem;line-height:4rem;
    }

    i.icon.angle.right {
      color: #aaa;
      font-size: 1.5rem;
      float: right;
      height: 4rem;line-height:4rem;
    }

    .content {
      margin-left: 3rem;margin-right: 3rem;
      margin-top: 0.5rem;
      height:3rem;line-height:1.5rem;
      .name {}
      .info {
        color: #999;font-size: 14px;
      }
    }
    &:hover {
      background-color: #FFFAF3;
    }
  }
}

.wizard-patient-show {
  max-width: 800px;
  .tabs {
    overflow: hidden;
    border-bottom: solid 1rem white;
    .item {
      float: left;
      padding-right: 0.5rem;
      height:3rem;line-height:3rem;
      a.label {
        display: block;
        border-radius: 3px 3px 0 0;
        padding:0 2rem;
        background-color: #eee;
        color: #333;
      }
    }
    .item.active {
      a.label {background-color: #fff;}
    }
    .item.button {
      width: 8rem;
      a.button {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        height: 2.4rem;line-height:2.4rem;
        padding-top: 0;
        padding-bottom: 0;
        display: block;
        margin-right: 0;
        margin-top: 0.3rem;
      }
    }
    @include respond(mobile) {
      .item {
        width: percentage(1/3) !important;
        a.label {padding:0;text-align: center;}
      }
      a.button {
      }
    }
  }
}

.patient-base-info {
  background-color: #FFF;
  border-top: solid 1px #ECECEC;
  .field {
    border-bottom: solid 1px #ECECEC;
    overflow: hidden;
    label {
      height:50px;line-height:50px;
      width: 6rem;
      float: left;
      padding-right: 1rem;
      text-align: right;
      font-weight: bold;
    }
    .icontent {
      min-height: 50px;
      line-height: 24px;
      padding: 13px 1rem;
      border-left: solid 1px #ECECEC;
      margin-left: 6rem;
    }
  }
}

.wizard-patient-records-new-page {
  max-width: 800px;
  .step {
    background-color: white;
    margin-bottom: 1rem;
    min-height: 7rem;
    h4 {
      padding: 0.7rem 1rem;
      border-bottom: solid 1px #ececec;
      font-weight: normal;
      i{color: #C15D3E;}
    }
  }
  .submit {
    padding: 0 1rem;
  }
}