!!!
%html{ lang: "zh" }
  %head
    %meta{ content: "text/html; charset=utf-8", http:{ equiv: "Content-Type" } }
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}
    
    %title 正道中医
    
    = csrf_meta_tags

    = stylesheet_link_tag :zhengdao, :'data-turbolinks-track' => true
    = javascript_include_tag :zhengdao, :'data-turbolinks-track' => true

  %body.common
    .page-content
      = yield